In [1]:
import pandas as pd

In [2]:
title_ratings = pd.read_csv('data/title.ratings.tsv', sep = '\t', usecols=['tconst', 'numVotes'])

In [3]:
top_450_most_votes = title_ratings.nlargest(450, 'numVotes')

In [4]:
top_450_most_votes.head(10)

           tconst  numVotes
84111   tt0111161   2959184
257414  tt0468569   2940814
673661  tt1375666   2609684
100936  tt0137523   2391254
448754  tt0944947   2360921
83011   tt0109830   2315661
83894   tt0110912   2272444
437606  tt0903747   2228305
408919  tt0816692   2188340
98696   tt0133093   2101020

In [5]:
filtered_movies = top_450_most_votes["tconst"]

In [6]:
filtered_movies

84111      tt0111161
257414     tt0468569
673661     tt1375666
100936     tt0137523
448754     tt0944947
             ...
929895     tt2193021
1477321    tt9376612
217961     tt0377092
414016     tt0831387
472355     tt1014759
Name: tconst, Length: 450, dtype: object

In [7]:
title_principals = pd.read_csv('data/title.principals.tsv', sep = '\t', usecols=['tconst', 'ordering', 'nconst', 'category'])

In [8]:
#tabla1[tabla1["tconst"].isin(peliculas_filtradas)]
new_title_principals = title_principals[title_principals["tconst"].isin(filtered_movies)]

In [10]:
new_title_principals.shape

(9966, 4)

In [11]:
title_principals.shape

(88962941, 4)

In [13]:
new_title_principals.to_csv('title_principals_reduced.csv')

In [14]:
title_basics = pd.read_csv('data/title.basics.tsv', sep = '\t', usecols=['tconst', 'titleType', 'primaryTitle', 'genres'])

In [15]:
#tabla1[tabla1["tconst"].isin(peliculas_filtradas)]
new_title_basics = title_basics[title_basics["tconst"].isin(filtered_movies)]

In [16]:
new_title_basics.shape

(450, 4)

In [17]:
title_basics.shape

(11217433, 4)

In [18]:
new_title_basics.to_csv('title_basics_reduced.csv')